*.class
gen
staging
instrumentation_backend/.settings
instrumentation_backend/assets/foo.bar
ruby-gem/test-server/.idea
ruby-gem/test-server/instrumentation-backend/.idea
ruby-gem/test-server/instrumentation-backend/instrumentation_backend.iml
ruby-gem/test-server/instrumentation-backend/project.properties
*.png
*.swp
**/.DS_STORE
ruby-gem/pkg
ruby-gem/lib/calabash-android/lib/TestServer.apk
.rbenv-version
calabash-android-*.gem